<div class="d-flex flex-wrap gap-3 mb-3">
  <% @devices.each do |device| %>
    <%= render "dashboard/device_card", device: device, account: @account, location: @location %>
  <% end %>
  <%= render "dashboard/add_device_forms", account: @account, location: @location %>
</div>
