@import "font-awesome/fontawesome.css";
@import "font-awesome/solid.css";
@import "font-awesome/regular.css";

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v23-latin-regular.woff') format('woff')
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato-v23-latin-700.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 32px;
}

body {
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

tr { height: 100%; }
td { height: 100%; padding: 0.05rem 0; }

.fade-bottom {
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  z-index: 5;
}

.flash {
  color: #FFF;
  background-color: #000;
}

.flash .fade-bottom {
  background: none;
}

.minutely td {
  padding: 0;
}