css:
  html {
    font-size: 46px;
  }

  body {
    padding: 1.5rem 2rem;;
  }

div style="display: flex;"
  div style="width: 16rem; padding-bottom: 1rem;"
    span style="font-size: 8rem; line-height: 6rem;" = view_object[:current_temperature]
  div style="width: 30rem;"
    div#time style="font-size: 2rem; text-align: right;"
hr style="margin: 1rem 0; border: none;background-color: #ccc;color: #ccc;height: 2px;"
= render "timeline", view_object: view_object

javascript:
  function flash() {
    document.getElementsByTagName("body")[0].classList.toggle("flash");

    setTimeout(function(){
      document.getElementsByTagName("body")[0].classList.toggle("flash");

      setTimeout(function(){
        document.getElementsByTagName("body")[0].classList.toggle("flash");

        setTimeout(function(){
          document.getElementsByTagName("body")[0].classList.toggle("flash");
        }, 1000);
      }, 1000);
    }, 1000);
  };
  setInterval(flash, 3600000);

  function clock() {
    var dt = new Date();
    document.getElementById('time').innerHTML=dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
  }
  clock();
  setInterval(clock, 1000);

  function reload() {
    location.reload();
  }
  setInterval(reload, 3000000)