---
http_interactions:
- request:
    method: get
    uri: https://app.birdweather.com/api/v1/stations/CkrGj6P3ym1iJEqCeeWLPyeb/species
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10e804e73ba819b9d7a4e97815ce8f39"
    body:
      encoding: UTF-8
      string: '{"success":true,"species":[{"id":134,"commonName":"House Finch","scientificName":"Haemorhous
        mexicanus","color":"#ff5a86","imageUrl":"https://media.birdweather.com/species/134/HouseFinch-standard-3329463dada4a864431241d37400ba54.jpg","thumbnailUrl":"https://media.birdweather.com/species/134/HouseFinch-thumbnail-ea7d4c693d0ac395d440407b51951f22.jpg","detections":{"total":103,"almostCertain":103,"veryLikely":0,"uncertain":0,"unlikely":0},"latestDetectionAt":"2024-04-13T19:16:35.000-06:00"},{"id":28,"commonName":"Townsend''s
        Solitaire","scientificName":"Myadestes townsendi","color":"#00a842","imageUrl":"https://media.birdweather.com/species/28/TownsendsSolitaire-standard-d37b6e043b4eed13817adc83cd476a15.jpg","thumbnailUrl":"https://media.birdweather.com/species/28/TownsendsSolitaire-thumbnail-fe60cb6923339361e1eecf90773786da.jpg","detections":{"total":3,"almostCertain":3,"veryLikely":0,"uncertain":0,"unlikely":0},"latestDetectionAt":"2024-04[...]
