---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/zone/COZ040
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Thu, 14 Sep 2023 23:15:00 GMT
      X-Correlation-Id:
      - 9d2ae51
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 2596e6ce
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": {
                "@version": "1.1"
            },
            "type": "FeatureCollection",
            "features": [],
            "title": "Current watches, warnings, and advisories for North Douglas County Below 6000 Feet/Denver/West Adams and Arapahoe Counties/East Broomfield County (COZ040) CO",
            "updated": "2023-09-14T23:15:00+00:00"
        }
  recorded_at: Sun, 17 Sep 2023 12:50:42 GMT
recorded_with: VCR 6.2.0
