---
http_interactions:
- request:
    method: get
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apple-Origin:
      - 7393641d-ac61-3726-be55-34e049064367
      Etag:
      - '"64f4bde8--gzip"'
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: UTF-8
      string: '{"currentWeather":{"name":"CurrentWeather","metadata":{"attributionURL":"https://developer.apple.com/weatherkit/data-source-attribution/","expireTime":"2023-09-03T17:15:06Z","latitude":39.915,"longitude":-105.022,"readTime":"2023-09-03T17:10:06Z","reportedTime":"2023-09-03T15:00:00Z","units":"m","version":1},"asOf":"2023-09-03T17:10:06Z","cloudCover":0.12,"cloudCoverLowAltPct":0.0,"cloudCoverMidAltPct":0.18,"cloudCoverHighAltPct":0.0,"conditionCode":"Clear","daylight":true,"humidity":0.29,"precipitationIntensity":0.0,"pressure":1010.85,"pressureTrend":"falling","temperature":29.37,"temperatureApparent":28.35,"temperatureDewPoint":9.32,"uvIndex":6,"visibility":33023.93,"windDirection":145,"windGust":22.58,"windSpeed":10.71},"forecastDaily":{"name":"DailyForecast","metadata":{"attributionURL":"https://developer.apple.com/weatherkit/data-source-attribution/","expireTime":"2023-09-03T18:10:06Z","latitude":39.915,"longitude":-105.022,"readTime":"2023-09-03T17:10:06Z","reportedTime":"2023-09-03T15:00:00Z","units":"m","version":1},"days":[{"forecastStart":"2023-09-03T06:00:00Z","forecastEnd":"2023-09-04T06:00:00Z","conditionCode":"PartlyCloudy","maxUvIndex":8,"moonPhase":"waningGibbous","moonrise":"2023-09-04T03:35:49Z","moonset":"2023-09-03T16:45:54Z","precipitationAmount":1.6,"precipitationAmountByType":{},"precipitationChance":0.15,"precipitationType":"rain","snowfallAmount":0.0,"solarMidnight":"2023-09-03T06:59:51Z","solarNoon":"2023-09-03T18:59:18Z","sunrise":"2023-09-03T12:29:52Z","sunriseCivil":"2023-09-03T12:02:06Z","sunriseNautical":"2023-09-03T11:29:22Z","sunriseAstronomical":"2023-09-03T10:55:04Z","sunset":"2023-09-04T01:28:37Z","sunsetCivil":"2023-09-04T01:56:06Z","sunsetNautical":"2023-09-04T02:29:00Z","sunsetAstronomical":"2023-09-04T03:02:57Z","temperatureMax":32.5,"temperatureMin":17.93,"daytimeForecast":{"forecastStart":"2023-09-03T13:00:00Z","forecastEnd":"2023-09-04T01:00:00Z","cloudCover":0.4,"conditionCode":"PartlyCloudy","humidity":0.34,"precipitationAmount":1.6,"precipitationAmountByType":{},"precipitationChance":0.12,"precipitationType":"rain","snowfallAmount":0.0,"windDirection":160,"windSpeed":11.12},"overnightForecast":{"forecastStart":"2023-09-04T01:00:00Z","forecastEnd":"2023-09-04T13:00:00Z","cloudCover":0.29,"conditionCode":"MostlyClear","humidity":0.62,"precipitationAmount":0.0,"precipitationAmountByType":{},"precipitationChance":0.0,"precipitationType":"clear","snowfallAmount":0.0,"windDirection":246,"windSpeed":6.29},"restOfDayForecast":{"forecastStart":"2023-09-03T17:10:06Z","forecastEnd":"2023-09-04T06:00:00Z","cloudCover":0.54,"conditionCode":"PartlyCloudy","humidity":0.41,"precipitationAmount":1.6,"precipitationAmountByType":{},"precipitationChance":0.15,"precipitationType":"rain","snowfallAmount":0.0,"windDirection":189,"windSpeed":11.13}},{"forecastStart":"2023-09-04T06:00:00Z","forecastEnd":"2023-09-05T06:00:00Z","conditionCode":"MostlyClear","maxUvIndex":8,"moonPhase":"waningGibbous","moonrise":"2023-09-05T04:05:37Z","m[...]
