.timestamp style="position: absolute; bottom: .25rem; right: .25rem; font-size: .4rem; color: #777; z-index: 10" = view_object[:timestamp]
div style="clear: both; line-height: .7; margin-bottom: 1rem; font-size: 1rem"
  div style="float: left;"
    - view_object[:status_icons].each do |status_icon|
      i.fa-solid class="fa-#{status_icon}" style="margin-right: 1rem"
    - view_object[:status_icons_with_labels].each do |status_icon, label|
      span style="margin-right: 1rem;"
        i.fa-solid class="fa-#{status_icon}"
        =< label
  div style="float: right; text-align: right;"
    - if view_object[:birdnet_most_unusual_species_trailing_24h].present?
      div style="display: inline-block;"
        i.fa-solid.fa-crow
        =< view_object[:birdnet_most_unusual_species_trailing_24h]
  div
    | &nbsp;
div style="clear: both; line-height: .7; margin-bottom: 1rem; padding-bottom: .5rem; font-size: 3rem;"
  div style="float: left;"  = view_object[:current_temperature]
  div style="float: right; text-align: right;" = DateTime.now.strftime("%A, %B %-d")
  div
    | &nbsp;
hr style="margin: 1rem 0 1rem; border: none; background-color: #ccc; color: #ccc; height: 2px;"
= render "timeline", view_object: view_object