css:
  html {
    font-size: 46px;
  }

  body {
    padding: 1.5rem 2rem;;
  }

div hx-get="#{sonos_path}" hx-trigger="every 5s" hx-swap="innerHTML"
  = render "sonos"
div style="position: absolute; top: .5rem; right: 2rem;"
  = render "api_health"
div class="clearfix" style="margin-bottom: -1rem;"
  div style="float: left;"
    span style="font-size: 8rem; line-height: 7rem;" = view_object[:current_temperature]
  div style="text-align: right; float: right;"
    div style="font-size: 2rem;" = Date.today.strftime("%A, %B %-d")
    div#time style="font-size: 5rem; line-height: 5rem;"
hr style="margin: 1rem 0; border: none;background-color: #ccc;color: #ccc;height: 2px;"
div hx-get="#{timeline_path}" hx-trigger="every 5s" hx-swap="innerHTML"
  = render Timeline.new(view_object: view_object)

javascript:
  function flash() {
    var dt = new Date();
    if(dt.getHours() == 3 && dt.getMinutes() > 40 && dt.getMinutes() < 45) {
      document.getElementsByTagName("body")[0].classList.toggle("flash");

      setTimeout(function(){
        document.getElementsByTagName("body")[0].classList.toggle("flash");

        setTimeout(function(){
          document.getElementsByTagName("body")[0].classList.toggle("flash");

          setTimeout(function(){
            document.getElementsByTagName("body")[0].classList.toggle("flash");
          }, 1000);
        }, 1000);
      }, 1000);
    }
  };
  setInterval(flash, 30000);

  function clock() {
    var dt = new Date();
    document.getElementById('time').innerHTML=dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }).replace(" PM", "<small>PM</small>").replace(" AM", "<small>AM</small>");
  }
  clock();
  setInterval(clock, 1000);

  function reload() {
    location.reload();
  }
  setInterval(reload, 300000)
