<meta http-equiv="refresh" content="5">

<div class="d-flex align-items-center justify-content-center text-center min-vh-70">
  <div>
    <h1>Timeframe</h1>
    <p>Enter this pairing code on your Timeframe dashboard:</p>
    <p class="display-1 fw-bold ls-wide"><%= @pending_device.pairing_code %></p>
  </div>
</div>
