@import "font-awesome";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 32px;
}

body {
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

table { height: 1px; }
tr { height: 100%; }
td { height: 100%; }