<p>Hello <%= @resource.email %>,</p>

<p>Click the link below to sign in to Timeframe:</p>

<p><%= link_to "Sign in to Timeframe", user_magic_link_url(token: @token) %></p>

<p>Or enter this token in your browser:</p>

<p><code><%= @token %></code></p>

<p>This link expires in <%= Devise.passwordless_login_within.inspect %>.</p>

<p>If you didn't request this, please ignore this email.</p>
