.banner {
  background-color: black;
  color: white;
  padding: 25px 40px;
}

.banner .current-temp {
  font-size: 50px;
}

.banner span {
  margin-right: 40px;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.header td {
  text-align: center;
  background-color: lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-size: 24px;
}

.header td:not(:last-child) {
  border-right: 1px solid darkgrey;
}

.time {
  text-align: right;
  font-weight: 100;
}

td.cell {
  width: 228px;
  height: 228px;
  border-bottom: 1px solid lightgrey;
  vertical-align: top;
  padding: 5px 10px 15px;
}

td.cell.empty {
  background-color: lightgrey;
}

td.cell:not(:last-child) {
  border-right: 1px solid lightgrey;
}

.day-of-month {
  font-weight: bold;
  float: left;
  font-size: 34px;
  padding: 0 0px 5px;
}

.temp-range {
  float: right;
  line-height: 40px;
  font-size: 18px;
}

.clear {
  clear: both;
}

.clear:after {
  content: " ";
}

.events tr {
  height: 22px;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.summary.all-day {
  max-width: 160px;
}

.events {
  width: 100%;
}

.climacon {
  vertical-align: middle;
  font-size: 2rem;
}
