.calendar-day {
  width: 305px;
  float: left;
  padding: 30px;
  height: 100%;
}

.calendar-day .date {
  font-size: 3rem;
  text-align: left;
  width: 100%;
  font-weight: 900;
  padding-bottom: 5px;
}

.calendar-weather .weather-summary,
.calendar-event {
  padding: .3rem 0;
  font-size: 20px;
}

.calendar-event .subtitle {
  opacity: .7;
  font-size: 14px;
}

.weekly {
  font-size: 30px;
  border-collapse: collapse;
  height: 100%;
  table-layout: fixed;
  margin-left: 40px;
  ma
}

.weekly, .weekly th, .weekly td {
  /* border: 1px solid black; */
  vertical-align: top;
}

.weekly h1 {
  padding-top: 50px;
}

.weekly td {
  padding: 0px 40px 10px 75px;
}

.weekly td:last-child {
  padding-right: 10px;
}

.weekly td:not(:first-child) {
  /* border-left: 1px solid black; */
}

.weekly td.day-cell-wide {
  padding: 10px 30px;
}

.weekly th, .weekly td.day-cell {
  width: 415px;
}

.weekly td.odd {
  /* background-color: #eee; */
}

.weekly .event {
  display: table-row;
}

.weekly .event .icon {
  padding-right: 3px;
  width: 42px;
  vertical-align: middle;
}

.weekly .event .icon, .weekly .event .summary {
  display: table-cell;
  padding-bottom: 20px;
}

.light {
  font-weight: 100;
  font-size: 22px;
}
