.banner {
  padding: 25px 40px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner .current-temp {
  font-size: 100px;
}

.banner span {
  margin-right: 50px;
  font-size: 40px;
  line-height: 100px;
  vertical-align: middle;
}

.banner .arrow {
  display: inline-block;
}

.banner .climacon {
  vertical-align: middle;
  font-size: 4rem;
}

.calendar-weather {
  clear: both;
  padding: 10px 40px 40px 40px;
}

.calendar-event {
  font-size: 32px;
  padding: .6rem 0 0;
}

.calendar-event .subtitle {
  opacity: .7;
  font-size: 20px;
}

.current-temp {
  font-size: 100px;
  vertical-align: middle;
  margin-right: 30px;
}

.pair:last-child {
  margin-right: 0;
}

.top span {
  vertical-align: middle;
}

.calendar .date-divider {
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 1rem 0 0;
  text-align: left;
  width: 100%;
  font-weight: 900;
  padding-bottom: 5px;
}

.icon-cell {
  text-align: center;
}

.climacon {
  font-size: 4rem;
  vertical-align: sub;
}

span.pair {
  margin-left: 30px;
}
