.calendar-weather {
  clear: both;
  padding: 10px 0 40px 0;
}

.banner {
  border-collapse: collapse;
  width: 100%;
  background-color: black;
  color: white;
  height: 100px;
}

.banner .fa {
  padding-right: 1rem;
}

.error-message {
  margin-left: 1rem;
  line-height: 100px;
  vertical-align: bottom;
}

.climacon {
  font-size: 3rem;
  line-height: 1rem;
  vertical-align: sub;
}

.fade-bottom {
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  z-index: 5;
}