body {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.day {
  background-color: #eee;
  color: #333;
}

body.night {
  background-color: #000;
  color: #FFFFFF;
  opacity: .8;
}

.main {
  border-collapse: collapse;
  border-style: hidden;
}

.main td {
  width: 150px;
  vertical-align: top;
  padding: 10px 30px;
}

.weather {
  font-size: 30px;
  font-weight: 300;
}

.weather.climacon {
  vertical-align: middle;
}

.day-of-month {
  font-size: 30px;
  font-weight: 100;
}

.day-label {
  font-size: 50px;
}

.calendar-label {
  font-size: 30px;
  text-align: right;
  line-height: 1;
}

.events li {
  color: #000;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
}

.events li .first {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.events li .time {
  font-weight: 300;
  flex-shrink: 0;
}

td.chart {
  padding: 0 20px 10px;
}
