.abs {
  color: #777;
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 10px;
  z-index: 10;
}

* {
  margin: 0;
  padding: 0;
}

body {
  bottom: 0;
  font-family: 'lato';
  font-size: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.fade-bottom {
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  z-index: 5;
}

li {
  list-style-type: none;
}

.error-messages {
  color: #fff;
  background-color: #000;
  padding: 25px 40px;
}

.error-messages i {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  text-algn: center;
  line-height: 50px;
}

.error-messages .error-message {
  margin-left: 60px;
  line-height: 50px;
}

.calendar-weather .weather-graph {
  margin-left: 40px;
}

.calendar-weather .weather-graph table {
  table-layout: fixed;
}

.calendar-weather .weather-graph td {
  text-align: center;
  width: 90px;
}

.calendar-weather .weather-graph .temperature-graph {
  vertical-align: bottom;
  text-align: center;
}

.calendar-weather .weather-graph .temperature-point {
  border-radius: 100%;
  background-color: #999;
  border: 2px solid white;
  display: inline-block;
  margin-top: 50px;
  width: 5px;
  height: 5px;
  position: relative;
}

.calendar-weather .weather-graph .temperature-point.bigger {
  border-radius: 100%;
  background-color: black;
  border: 2px solid black;
  display: inline-block;
  width: 5px;
  height: 5px;
  position: relative;
}

.calendar-weather .weather-graph .temperature-point .temp {
  position: absolute;
  font-size: 40px;
  bottom: 15px;
  width: 150px;
  left: -62px;
  text-align: center;
}

.calendar-weather .weather-graph .temperature-point.current {
  margin-top: 100px;
}

.calendar-weather .weather-graph .temperature-point.current .temp {
  font-size: 100px;
  left: -55px;
  z-index: 100;
  text-shadow:
		-4px -4px 0 #fff,
		4px -4px 0 #fff,
		-4px 4px 0 #fff,
		4px 4px 0 #fff;
}

.calendar-weather .weather-graph .wind-graph {
  vertical-align: bottom;
  text-align: center;
}

.calendar-weather .weather-graph .wind-point {
  color: #999;
  display: inline-block;
  margin-top: 30px;
  position: relative;
}

.calendar-weather .weather-graph .wind-point i {
  line-height: 25px;
}

.calendar-weather .weather-graph .wind-point.bigger {
  color: black;
  display: inline-block;
  position: relative;
}

.calendar-weather .weather-graph .wind-point.bigger i {
  font-size: 25px;
}

.calendar-weather .weather-graph .wind-point .speed {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  width: 150px;
  left: -55px;
  text-align: center;
}

.calendar-weather .weather-graph .icons td {
  position: relative;
  height: 100px;
}

.calendar-weather .weather-graph .icons .wrapper {
  position: absolute;
  top: 0;
  left: -18px;
}

.calendar-weather .weather-graph .icon {
  margin: -20px;
  text-align: center;
}

.calendar-weather .weather-graph .time {
  color: #666;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}

.calendar-weather .weather-summary, .calendar-event {
  padding: .6rem 0;
  font-size: 40px;
}

.calendar-event {
  width: 100%;
  position: relative;
}

.calendar-event .subtitle {
  opacity: .7;
  font-size: 28px;
}

.calendar-day {
  margin-bottom: 2rem;
}

.calendar-weather.thirteen .float {
  clear: both;
}

.calendar-weather.thirteen .weather-graph {
  float: left;
  width: 900px;
}

.calendar-weather .yearly-events-table {
  background-color: #eee;
  font-size: 2rem;
  padding: 20px;
  float: right;
  width: 450px;
}

.calendar-weather .yearly-events-table td.date {
  padding-right: 10px;
}

.calendar-weather .yearly-events-table td {
  font-size: 2rem;
  padding-top: 5px;
}

.calendar-weather.thirteen .day {
  margin-right: 100px;
  float: left;
  width: 690px;
}

.calendar-weather.thirteen .day:last-child {
  margin-right: 0;
}

.calendar-weather.vert .left {
  background-color: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 460px;
  padding: 40px;
}

.calendar-weather.vert .calendar {
  position: absolute;
  top: 40px;
  right: 40px;
  left: 600px;
  bottom: 0;
}

.calendar-weather.vert .current-temp {
  font-size: 300px;
}

.calendar-weather .yearly-events {
  /* background-color: #eee; */
  font-size: 2rem;
  padding: 20px;
}

.calendar-weather .yearly-event {
  margin-top: 10px;
}
