<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'display', media: 'all' %>
    <% unless params[:debug] %><meta http-equiv="refresh" content="5"><% end %>
  </head>

  <body>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
