<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <link rel="stylesheet" href="/css/display.css">
    <% if !params[:debug].present? || !@refresh || params[:refresh].present? %>
      <meta http-equiv="refresh" content="2">
    <% end %>
  </head>

  <body>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
