<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <%= csrf_meta_tags %>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'display', media: 'all' %>
    <%= javascript_tag 'display', media: 'all' %>
  </head>

  <body>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
