<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <link rel="stylesheet" href="/css/mdi/materialdesignicons.css">
    <link rel="stylesheet" href="/css/display.css">
    <% if @refresh %>
      <%= javascript_include_tag "actioncable" %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
