<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'display', media: 'all' %>
    <% unless params[:debug] || !@refresh %>
      <meta http-equiv="refresh" content="2">
    <% end %>
  </head>

  <body class='<%= "#{'flash' if @refresh && DateTime.now.hour == 3 && [0,2,4,6,8].include?(DateTime.now.minute)}" %>'>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
