<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <link rel="stylesheet" href="/css/display.css">
    <meta http-equiv="refresh" content="<%= @refresh %>">
  </head>

  <body>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
