<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'display', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
