<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <%= stylesheet_link_tag 'display', media: 'all' %>
    <% unless params[:debug] || !@refresh %>
      <meta http-equiv="refresh" content="1">
    <% end %>
  </head>

  <body>
    <div class="fade-bottom"></div>
    <%= yield %>
  </body>
</html>
